In [9]:
age = 23

In [10]:
age

23

In [3]:
berat = 5.5

In [4]:
berat

5.5

In [5]:
min(-1, 0, 1, 2)

-1

In [6]:
max(-1, 0, 1, 2)

2

In [2]:
sum([-1, 0, 1, 2])

2

In [8]:
sum([-1, 0, 1, 2])

2

In [9]:
abs(-2)

2

In [10]:
abs(3)

3

In [11]:
round(4.5)

4

In [12]:
round(4.6)

5

In [13]:
str = "saya ingin menjadi seorang data sceintic"

In [14]:
text = "saya ingin menjadi seorang data sceintic"

In [15]:
str

'saya ingin menjadi seorang data sceintic'

In [16]:
text

'saya ingin menjadi seorang data sceintic'

In [3]:
text.lower = "saya ingin menjadi seorang data sceintic"

NameError: name 'text' is not defined

In [18]:
text.lower = ("saya ingin menjadi seorang data sceintic")

AttributeError: 'str' object attribute 'lower' is read-only

In [19]:
text.lower()

'saya ingin menjadi seorang data sceintic'

In [20]:
text.upper()

'SAYA INGIN MENJADI SEORANG DATA SCEINTIC'

In [21]:
text.split()

['saya', 'ingin', 'menjadi', 'seorang', 'data', 'sceintic']

In [22]:
text.strip()

'saya ingin menjadi seorang data sceintic'

In [23]:
"_".join(text.split())

'saya_ingin_menjadi_seorang_data_sceintic'

In [24]:
text = "   saya   ingin   menjadi  seorang  data    sceintic"

In [25]:
text

'   saya   ingin   menjadi  seorang  data    sceintic'

In [26]:
text,replace("s", "m")

NameError: name 'replace' is not defined

In [27]:
text.replace("s", "m")

'   maya   ingin   menjadi  meorang  data    mceintic'

In [28]:
text

'   saya   ingin   menjadi  seorang  data    sceintic'

In [29]:
type(text)

str

In [30]:
type(umur)

int

In [31]:
umur = 16

In [32]:
umur

16

In [34]:
if umur < 17:
    print("anak-anak")

anak-anak

In [35]:
if umur < 17:
    print("anak-anak")
else:
    print("bukan anak-anak")

anak-anak

In [36]:
umur = 20

In [37]:
if umur < 17:
    print("anak-anak")
else:
    print("bukan anak-anak")

bukan anak-anak

In [40]:
if umur < 17:
    print("anak-anak")
elif umur < 60:
     print("usia produktif")
else:
    print("lansia")

lansia

In [39]:
umur = 61

In [41]:
if umur < 17:
    print("anak-anak")
elif umur < 60:
     print("usia produktif")
else:
    print("lansia")

lansia

In [42]:
number = [0, 1, 2, 3, 4, 5, 6]

In [43]:
numbers = [0, 1, 2, 3, 4, 5, 6]

In [44]:
number

[0, 1, 2, 3, 4, 5, 6]

In [45]:
numbers

[0, 1, 2, 3, 4, 5, 6]

In [46]:
s

NameError: name 's' is not defined

In [52]:
jumlah = 0
for number in numbers:
    print("proses ke", number)
    jumlah = jumlah + number
print(jumlah)

proses ke 0
proses ke 1
proses ke 2
proses ke 3
proses ke 4
proses ke 5
proses ke 6
proses ke 7
proses ke 8
proses ke 9
45

In [48]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
numbers2 = range(7)

In [54]:
numbers2

range(0, 7)

In [55]:
list(numbers2)

[0, 1, 2, 3, 4, 5, 6]

In [56]:
jumlah = 0
for number in numbers2:
    print("proses ke", number)
    jumlah = jumlah + number
print(jumlah)

proses ke 0
proses ke 1
proses ke 2
proses ke 3
proses ke 4
proses ke 5
proses ke 6
21

In [57]:
i =0

In [60]:
jumlah = 0
while i < 7:
        print("proses ke:", i)
        jumlah = jumlah + i
        i = i + 1
        print(jumlah)

In [67]:
def my_function():
    print("hello word")

In [68]:
my_function()

hello word

In [70]:
def is_square(panjang, lebar):
    if panjang == lebar:
        print("persegi")
    else: 
        print("persegi panjang")

In [76]:
is_square(4,2)

persegi panjang

In [77]:
is_square(4,4)

persegi

In [78]:
is_square(panjang = 4, lebar = 4)

persegi

In [79]:
def get_are(panjang, lebar):
    return panjang * lebar

In [81]:
get_are(4, 6)

24

In [83]:
def get_summary(numbers):
    count = len(numbers)
    jumlah = sum(numbers)
    return count, jumlah

In [87]:
numbers = [0,1,2,3,4,5]
get_summary(numbers)

(6, 15)

In [85]:
numbers = [0,1,2,3,4,5,6]

In [86]:
get_summary(numbers)

(7, 21)

In [88]:
numbers = [0,1,2,3,4,5]

In [92]:
numbers

[0, 1, 2, 3, 4, 5, 7]

In [90]:
len(numbers)

6

In [91]:
numbers.append(7)

In [96]:
numbers[3:]

[3, 4, 5, 7]

In [11]:
 biodata = {
    "nama" : "budi",
    "age" : 17,
    "tempat_tinggal" : "bandung",
}

In [12]:
biodata.keys()

dict_keys(['nama', 'age', 'tempat_tinggal'])

In [99]:
biodata.values()

dict_values(['budi', 17, 'bandung'])

In [100]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        
    }
)